*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
}



header{                               /*Header*/
    background-color: rgb(0, 0, 0, .3);
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
}

header a{
    border: 2px white solid;
    border-radius: 30px;
    padding-inline: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: white;
    opacity: 100%;
    font-size: 0.8rem;
}

header .container{
    margin-top: 2rem;
    margin-right: 2rem;
}



nav{                                  /*nav */
    width: 13rem;
    background-color: black;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}





main{                                   /*main*/
    overflow: auto;
    background-color: #141922;
    height: 90vh;
    padding-top: 12vh;
    padding-left: 15rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
}

footer{
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: #282828;
}